DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=password
DB_NAME=mydatabase

JWT_SECRET=your-secret

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=dev.abir.07@gmail.com
MAIL_PASSWORD=
MAIL_FROM=dev.abir.07@gmail.com

AFRO_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJpZGVudGlmaWVyIjKP3YpWnvV4
AFRO_ID=e80ad9d8-adf7c4b39f7f164
AFRO_SENDER_NAME=AfroMessage


SMS_PROVIDER=afro